 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0; }


/* --------  WHUDDUP VARIABLES?!  -------*/

$primary-font: 'Open Sans', sans-serif;





/* --------   // END VARIABLES?!    -------*/



/* --------  DEFAULT TYPOGRAPHY  -------*/

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .5em;
}

/* -------- // END TYPOGRAPHY  -------*/

header {
  h1 {

  font-family: $primary-font;
  margin: 5% 10%;
  }
}

#postContainer{
  h3{
    color: #03566B;
    font-family:$primary-font;
    padding: 0 0 .25em 0;
  }

  h4{
    font-family: Arial;
    font-weight: 100;
  }
}

section {
  margin: 0 10%;
}
aside {
  float: left;
  width: 40%;
}
article {
  float: left;
  padding: 2em;
  width: 60%;
  fieldset {
    border: none;
  }

  form {

    input[type=text]{
      padding: .25em;
      width: 50%;
    }

    textarea {
      margin: .5em 0;
      padding: .25em;
      width: 50%;
    }

    input[type=submit] {
      background-color:#96A95A;
      border: none;
      border-radius: 6px;
      padding: .25em 1em;
    }
  }
}
