<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>myBlog</title>
    <!-- build:css styles/main.css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <main>
      <header>

        <h1>Your blog header here.</h1>

      </header>
        <section>
          <article id="postContainer">

          </article>
          <article>
            <fieldset>
              <form method="POST">
                <input type="text" class="field" name="title" placeholder="Title" />
                <textarea class="field" name="post" placeholder="Blogpost"></textarea>
                <input type="submit" value="send!" />
              </form>
            </fieldset>
          </article>
        </section>
      <footer>


      </footer>
    </main>
  <script type="text/template" id="postTemplate">
    <h3><%= title %></h3>
    <h4><%= post %></h4>
  </script>

  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/underscore/underscore.js"></script>

  <!-- build:js scripts/main.js -->
  <script src="scripts/main.js"></script>
  <!-- endbuild -->

</body>
</html>
